@font-face {
  font-family: 'KozGoProL';
  src: url('/src/assets/fonts/KozGoPro-Light.otf');
}
@font-face {
  font-family: 'KozGoProEL';
  src: url('/src/assets/fonts/KozGoPro-ExtraLight.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  font-family: KozGoProL, sans-serif;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.content {
  height: 100vh;
}

.content img {
  max-height: 70%;
  max-width: 100%;
}

.dickhead h1 {
  font-family: KozGoProEL;
  font-size: 147px;
}

.infobox h2 {
  font-family: KozGoProEL;
  font-size: 47px;
}

.dickhead-contacts {
  margin-block-start: 0.67em;
  margin-inline-end: 0.67em;
}
.dickhead-contacts .contact {
  font-size: 17px;
}
