html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Livvic300, sans-serif;
  overflow: hidden;
  background: #0a0a0a;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}
